* {
	box-sizing: border-box;
	font-family: "微软雅黑", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav, ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
/** progress start **/
.progress {
	position: fixed;
	height: 3px;
	background: #ff5a00;
	width: 70%;
	left: 0;
	top: 0;
	z-index: 9999;
	animation: loadProcess 1s ease forwards;
}

/** navbar start **/
.navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	/*background: rgba(0,0,0,0.6);*/
	background: rgba(0,0,0,0);
	z-index: 1030;
}

.navbar .container {
	padding: 0px 15px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.navbar-header {
	width: 80%;
	font-size: 30px;
    font-weight: bold;
}

.navbar-header>div {
	width: fit-content;
	color: #ea5916;
	margin: 0 auto;
}

.button_container {
	width: 28px;
	height: 29px;
	cursor: pointer;
	position: relative;
	z-index: 999;
}

.button_container span {
	background: #fff;
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	cursor: pointer;
	transition: all .35s ease;
}

.button_container span:nth-of-type(1) {
	top: 4px;
}

.button_container span:nth-of-type(2) {
	top: 12px;
}

.button_container span:nth-of-type(3) {
	top: 20px;
}

.button_container.active span:nth-of-type(1) {
	transform: translateY(8px) translateX(0) rotate(45deg);
}

.button_container.active span:nth-of-type(2) {
	opacity: 0;
}

.button_container.active span:nth-of-type(3) {
	transform: translateY(-8px) translateX(0) rotate(-45deg);
}

.navbar-nav {
	display: none;
}

.overlay {
	opacity: 0;
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 0%;
	background: #ff5a00;
	transition: opacity .25s ease, visibility .25s ease, height .25s ease;
}

.overlay.open {
	display: block;
	opacity: .95;
	height: 100%;
}

.overlay nav {
	position: relative;
	height: 50%;
	top: 10%;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

.overlay ul {
	list-style: none;
	display: inline-block;
	position: relative;
	height: 100%;
	margin: 0 auto;
}

.overlay ul li {
	min-height: 65px;
	height: calc(100% / 8);
	opacity: 0;
}

.overlay.open li:nth-of-type(n) {
	animation: fadeInRight .55s ease forwards;
}

.overlay.open li:nth-of-type(2n) {
	animation: fadeInRight .7s ease forwards;
}

.overlay ul li a {
	display: block;
	color: #fff;
	transition: all .2s ease-in-out;
}

/** header start **/
.carousel {
	position: relative;
	height: 100%;
}

.carousel-inner {
	height: 100%;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.carousel .item,.carousel .active {
	height: 100%;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.overlay-detail {
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	opacity: 0.5;
	left: 0;
	top: 0;
	z-index: 1;
}

.carousel-caption {
	position: absolute;
	top: 30%;
	bottom: 25%;
	left: 15%;
	right: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}

.carousel-caption h1 {
	font-size: 23px;
	padding: 0;
	margin: 10px 0;
	color: #fff;
	animation: slideInDown 1s ease both;
}

.carousel-caption p {
	font-size: 20px;
	font-weight: bold;
	padding: 0;
	color: #ff5a00;
	animation: slideInUp 1s ease both;
}

.carousel-control {
	position: absolute;
	top: 50%;
	left: 0;
	margin: 0;
	text-shadow: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	opacity: .5;
}

.carousel-control.right {
	right: 0px;
	left: auto;
}

.carousel-control.left, .carousel-control.right {
	background: none;
	z-index: 100;
}

.squared {
	padding: 10px;
	width: 60px;
	height: 60px;
}

.icon-angel-left:before {
	content: "\f104";
}

.icon-angel-right:before {
	content: "\f105";
}

